<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Winserver2012R2/MapperExpression</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://Winserver2012R2</MSDeployServiceURL>
    <DeployIisAppPath>SiteWeb/MapperExpression</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrateur</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NorthwingDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=WinServer2012R2;Initial Catalog=NORTHWND;Integrated Security=False;User ID=northwing_user;Password=p@ssw0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WinServer2012R2;Initial Catalog=NORTHWND;Integrated Security=False;User ID=northwing_user;Password=p@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NorthwingDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WinServer2012R2;Initial Catalog=NORTHWND;Integrated Security=False;User ID=northwing_user;Password=p@ssw0rd;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NorthwingDbContext-Web.config Connection String">
      <ParameterValue>Data Source=WinServer2012R2;Initial Catalog=NORTHWND;Integrated Security=False;User ID=northwing_user;Password=p@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>